*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#box{
    height: 200px;
    width: 200px;
    background-color: aqua;
        margin-top: 20px;
}
.outerdiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);

}
